body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1 {
    font-size: 35px;
    
}
.color-highlight {
    color: #EC4C7A;
    letter-spacing: 1.5px;
}
.top-bannear .half-width {
    margin-top: 100px;
    width: 38%;
    float: left;
    margin-left: 6%;
    padding-left: 2%;
}
.half-width {
    width: 38%;
    float: left;
    margin-left: 6%;
    padding-left: 2%;
    margin-top: 90px;
}
.top-banner.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right,#EC4F92 50%,#EC4C79 50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.down {
    margin-left: 96px;
    margin-top: 249px;
}

.half-width img {
    width: 100%;
}
.bio {
    height: 650px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.top-banner {
    
    height: 750px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}
p {
    font-size: 16px;
    margin-bottom: 50px;
}
.link-button {
    text-decoration: none;
    background: transparnet;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
}
.link-button:hover {
    background-image: linear-gradient(to right, #EC4F92,#EC4C79);
    color: #ffffff;
}
.content {
    margin-left: 200px;
    margin-top: 150px;
}
.content p{
    line-height: 1.6;
    font-size: 14px;
}
.second-img {
    width: 28%;
    
}
.second-img img{
    width: 100%;
}
.task {
    height: 500px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.task h1{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
      
}

 .images {
    margin: 0 50px 0 50px;
} 
.image1 {
    width: 30%;
    float: left;
    margin-right: 30px;
}
.image2 {
    width: 30%;
    float: left;
    margin-left: 30px;
}
.image3 {
    width: 30%;
    float: right;
    margin-left: 30px;
}
.images img {
    width: 100%;
}
.client {
    height: 696px;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.center {
    text-align: center;
    margin-top: 100px;
}
.color-highlight:hover {
    color: #000000;
}

.center h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 100px;
}
.center h5 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
    
}
.center h6 {
    font-size: 12px;
    font-weight: 400;
    
}
.center p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 58px;
    line-height: 1.6;
}
button {
    padding: 33px 93px;
    background-image: linear-gradient(to right, #EC4F92,#EC4C79);
    border: none;
    border: 1px solid linear-gradient(to right, #EC4F92,#EC4C79); 
    border-radius: 5px;
    color: #ffffff;
    margin-top: 83px;
}
button span {
    color: #F9C9DA;
    margin-bottom: 50px;
}
button a {
    color: #ffffff;
}
.center a {
    text-decoration: none;
    font-weight: 700;
}
footer p {
    text-align: center;
    font-size: 12px;
}



